<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MonteCarlo.NET</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MonteCarlo.NET.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MonteCarlo.NET</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (!User.IsInRole("Administrator")){
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="BotSupport">Support</a>
                        </li>
                        @if (User.Identity.IsAuthenticated) 
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Wallet">Saldo @ViewData["Saldo"] BrigmaCoins</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Ranking"> Poziom @ViewData["Level"]</a>
                            </li>
                        }
                        }
                        @if (User.IsInRole("Administrator"))
                        {
                            
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Administrator" asp-action="Uzytkownik">Uzytkownik</a>
                            </li>

                         
                            
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Administrator" asp-action="Ban">Ban</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Administrator" asp-action="Limity">Limity</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Administrator" asp-action="Gry">Gry</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Administrator" asp-action="Transakcje">Transakcje</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Administrator" asp-action="GraKonto">GraKonto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Administrator" asp-action="Zgloszenie">Zgloszenie</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Administrator" asp-action="LiveChatAdmin">LiveChat</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Administrator" asp-action="HealthCheck">HealthCheck</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
       
        let audioElement;
        
        document.addEventListener("DOMContentLoaded", () => {
         
            if (!window.audioElement) {
              
                audioElement = new Audio("/audio/song.mp3"); 
                audioElement.loop = true; 
                audioElement.volume = 0.1; 

              
                audioElement.play().catch(error => {
                    console.log("Autoplay został zablokowany przez przeglądarkę:", error);
                });

              
                window.audioElement = audioElement;
            } else {
              
                audioElement = window.audioElement;
            }

            
            const savedTime = localStorage.getItem("musicTime");
            if (savedTime) {
                audioElement.currentTime = parseFloat(savedTime);
            }
        });

       
        window.addEventListener("beforeunload", () => {
            if (window.audioElement) {
                localStorage.setItem("musicTime", window.audioElement.currentTime);
            }
        });
    </script>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MonteCarlo.NET - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

